.post_card_box {
  width: 100%;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border-radius: 0.75rem;
  background-color: var(--card-background-color);
  border: 2px solid var(--border-color);

  //&:hover {
  //  border: 2px solid transparent;
  //  box-shadow:
  //    0.75rem 0.75rem 0.75rem var(--primary-shadow-color),
  //    -0.5rem -0.5rem 0.5rem var(--sub-shadow-color);
  //}
}
